{% extends 'base.html' %}
{% block title%}
Announcement
{% endblock %}
{% block content %}

<h2><font face = "Noe">Type an announcement</h2>
 
 <form method = "POST" action = "{% url 'contact' %}">
 	

 	{% csrf_token %}
 	{{form.as_p}}

 <div class= "form-group">	
	<button type="submit" class="btn btn-primary " style = "margin: 0 auto;
    display: block;" href = "{% url 'contact' %}">Submit</button>
 </div>	
</div>
 
<script type="text/javascript">
    var name = "{{user.id}}";
    document.getElementById("admin").placeholder = name;
</script>


</form>

{% endblock %}