{% extends 'base.html'%}
{% block title %}Short listed colleges with your desired fee range{% endblock %}

{% block content %}
<div class="container" align="middle">
<head><font face = "Noe " size = 10><b>College list</b></font></head>
</div>
<body>
<center><h2 style="margin-left:20px;"><font face = "Noe" size = 6>Explore from the variety of the colleges to what suits the best for you!</font></h2>
<!--form method="get" action="">
  {% csrf_token %}
  Search College: <input name="src" type="text" placeholder="Search..." value="">
</form>
</center-->
<center>
<!--div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'cse' %}">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div-->

<table><font face = "Noe">
    <!--button type="button" class="btn btn-primary" href = " {% url 'cse' %}">B.E in Computer Science </button-->
      
   <tr>
    <th>CumulativeID</th><th>Course ID</th><th id="name">Name</th><th>College Type</th><th>Fees</th><th>Region</th>
    </tr>

 
    {% for product in college_list %}
    {% if product.fees <= 100000 %}
    <tr>

       <td>{{product.id}}</td><td>{{product.course_id}}     </td> <td>{{product.clg_name}}</td> <td> {{product.clg_type}}     </td> <td style="text-align:right">Rs  {{product.fees}}</td><td>{{product.region}}</td>

    </tr>
    {% endif %}
    {%endfor%}
  </table>
</center>
</body>
{% endblock %}